<p>home works!</p>
<div class="container">  
    <img src="../../../assets/Image/images.jpg" height="200px" width="400px"/>
    <form id="contact" action="" method="post">
      <h3>Quick Contact</h3>
      <br>
    
      <fieldset>
        <input placeholder="Your name" type="text" id="Your Name" name="Name" pattern="[A-Za-z]{10}" tabindex="1" required autofocus>

      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="2" required>
      </fieldset>
      <fieldset>
          <label for="Phone"></label>
        <input placeholder="Your Phone Number" id="Phone" type="number" pattern="^\d{4}-\d{3}-\d{4}$" tabindex="3" required>
      </fieldset>

      <fieldset>
        <input placeholder="Your Web Site starts with http://" type="url" tabindex="4" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Type your Message Here...." maxlength="800" tabindex="5" required></textarea>
      </fieldset>
      <fieldset>
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        <br>
        
        <button name="submit" type="submit" id="contact-submit">Go Back</button>
      </fieldset>
    </form>
   
    
  </div>