<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

 <bean id="myFortuneService" class="com.mySpringPlatform.Fortune1.LuckyFortune">
   </bean>
   
   <bean name="theCoach" class="com.mySpringPlatform.Fortune1.BaseBallCoach">
   <constructor-arg name="fortuneService" ref="myFortuneService">
   
   
   </constructor-arg>
   </bean>
</beans>
